{
  "extends": [
    "rakeshshrestha",
    "rakeshshrestha/react",
    "rakeshshrestha/import"
  ],
  "rules": {
    "import/order": [
      "warn",
      {
        "pathGroups": [
          {
            "pattern": "@/**",
            "group": "external"
          }
        ]
      }
    ],
    "import/no-unresolved": "off"
  }
}
