main.employees {
  display: flex;
  justify-content: space-between;
  padding: 16.33px;
}

.employee-card {
  padding: 10px;
  border: 1px solid #e8e8e8;
  max-width: 300px;
  margin-bottom: 20px;
}

.employee-card h2 {
  text-transform: capitalize;
  color: red;
}

.employee-card h3 {
  color: #818181;
  font-weight: 300;
  text-transform: lowercase;
}

/* Button */
.outlined {
  border: 0;
  padding: 0;
  background: none;
}

button:hover {
  cursor: pointer;
}

.employee-card__actions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20;
}
